<%- include('../layout/_header', {
	pageTitle: 'DSO Slideshow',
	pageDescription: ''
}); %>
		<div class="reveal">
			<div class="slides">

        <section class="has-dark-background" data-background-color="#000000" data-background-image="/img/lapo/m42_background.jpg" data-background-size="cover">
          <h1>Deep Space Objects</h1>
        </section>

				<section data-background-color="#9b442c"> <!-- Fast Facts Page 1 -->
					<section>
            <h2>Globular Star Clusters</h2>
            <p style="font-size:.7em;">Each is a round collection of stars. Some have a greater central concentration (such as M2). Others seem to be evenly spread about (see M55).
Containing many thousands of stars. These stars orbit a common center. Some might contain a central black hole.
No known globular clusters display any star formation. All of their stars are older and lack heavy elements, suggesting they formed long ago.
Between 150-180 such clusters surround our galaxy in a “halo”. These were used by Harlow Shapley to make a determination of the dimensions of our galaxy and our location within it.
</p>
						<img data-src="/img/lapo/gsc_m55.jpg" />
						<img data-src="/img/lapo/gsc_m2.jpg" />
						<img data-src="/img/lapo/gsc_m30.jpg" />
          </section>
        </section>

				<section data-background-color="#9b442c"> <!-- Fast Facts Page 1 -->
					<section>
            <h2>Open Star Clusters</h2>
            <p style="font-size:.7em;">Visibly different that Globular Clusters, Open Clusters contain at most a few thousand stars formed in the same star-forming cloud of gas and dust. M45 still has some of this dust. Mostly young, hot stars, which are blue in color.
Loosely bound together, they will drift apart over time. In irregular galaxies, open clusters may be found throughout the galaxy, although their concentration is highest where the gas density is highest.
In our galaxy, open clusters are found in the spiral arms where gas densities are highest and most star formation occurs. Open clusters are not seen in elliptical galaxies where star formation ceased many millions of years ago.</p>
						<img data-src="/img/lapo/osc_m45.jpg" />
						<img data-src="/img/lapo/osc_m11.jpg" />
          </section>
        </section>

				<section data-background-color="#9b442c"> <!-- Fast Facts Page 1 -->
					<section>
            <h2>Nebulae</h2>
	          <p style="font-size:.7em;">"Nebula" is Latin for “cloud”. These are more varied than any other type of object. Some are star-forming regions, others are left behind when a star no longer exists.</p>
						<div style="margin:0 auto;text-align:left;max-width:75%;">
							<p style="font-size:.6em;"><u>Reflection nebulae</u> glow from light bouncing off of the dust between stars.</p>
							<p style="font-size:.6em;"><u>Emission nebulae</u> emit light from the gases in them.</p>
							<p style="font-size:.6em;"><u>Dark (absorption) nebulae</u> block the light of stars behind them and appear as a “hole” in space.</p>
						</div>
						<img data-src="/img/lapo/n_m45.jpg" />
						<img data-src="/img/lapo/n_m57.jpg" />
						<img data-src="/img/lapo/n_barnard_68.jpg" />
          </section>
        </section>

				<section data-background-color="#9b442c"> <!-- Fast Facts Page 1 -->
					<section>
            <h2>Galaxies</h2>
            <p style="font-size:.7em;">Large collections of stars, gas and dust far outside our galaxy.<br />There is estimated to be 100 billion galaxies of many types.</p>
						<div style="margin:0 auto;text-align:left;max-width:75%;">
							<p style="font-size:.6em;"><u>Spiral galaxies</u> are similar to our own. </p>
							<p style="font-size:.6em;"><u>Elliptical galaxies</u> tend to have little gas and dust to form new stars.</p>
							<p style="font-size:.6em;"><u>Dwarf galaxies</u> are mostly gas and dust in a poorly organized structure.</p>
							<p style="font-size:.6em;"><u>Irregular galaxies</u> (everything else).</p>
						</div>
						<img data-src="/img/lapo/g_1.jpg" />
						<img data-src="/img/lapo/g_3.jpg" />
						<img data-src="/img/lapo/g_4.jpg" />
          </section>
        </section>

				<section data-background-color="#9b442c"> <!-- Fast Facts Page 1 -->
					<section>
            <h2>Planets</h2>
            <p style="font-size:.7em;">Objects orbiting our star (the Sun) along with us.<br />These are made up of two types; Larger <u>gas giants</u> and smaller <u>rocky</u> worlds.</p>
						<img data-src="/img/lapo/planets_3.jpg" />
          </section>
        </section>

			</div>
		</div>

		<%- include('../layout/_footer'); %>
