<!doctype html>
<html>
<head>
  <title><%= pageTitle %></title>
	<link rel="stylesheet" type="text/css" href="/layout/css/bootstrap.min.css">
	<link rel="stylesheet" href="/layout/js/reveal.js/css/reveal.css">
	<link rel="stylesheet" href="/layout/js/reveal.js/css/theme/black.css">
	<link rel="stylesheet" href="/layout/css/style.css">
	<link rel="stylesheet" href="/layout/css/custom_presentation.css">
	<link rel="stylesheet" href="/layout/js/reveal.js/lib/css/zenburn.css">
</head>
<body>
  <div class="container">
		<nav class="navbar navbar-expand-sm navbar-dark bg-dark bgPurple">
		  <a class="navbar-brand" href="#">
  			<a class="navbar-brand float-left" href="/">Home</a>
		  </a>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mx-auto">
		      <li class="nav-item dropdown px-3">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Planets
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/mercury/">Mercury</a>
		          <a class="dropdown-item" href="/mars/">Mars</a>
		          <a class="dropdown-item" href="/jupiter/">Jupiter</a>
		          <a class="dropdown-item" href="/saturn/">Saturn</a>
		        </div>
		      </li>
					<li class="nav-item dropdown px-3">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Physics
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/keplers-laws/">Kepler's Laws</a>
		        </div>
		      </li>
					<li class="nav-item dropdown px-3">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Deep Space Objects
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/dso-slideshow/">DSO Slideshow</a>
		          <a class="dropdown-item" href="/black-holes/">Black Holes</a>
		        </div>
		      </li>
					<li class="nav-item dropdown px-3">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Spacecraft
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/hubble/">Hubble</a>
		        </div>
		      </li>
		    </ul>
  			<a class="navbar-brand float-right" href="#">&nbsp;</a>
		  </div>
		</nav>
