.reveal section img {
  border:none;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
}

.reveal section li {
  list-style-type:none;
  padding-bottom:20px;
}
