body, html {
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:arial;
}

.purple {
	color:#461E3D !important;
}

.bgPurple {
	background-color:#461E3D !important;
}

.orange {
	color:#E03C31 !important;
}

.bgOrange {
	background-color:#E03C31 !important;
}

.blue {
	color:#59CBE8 !important;
}

.bgBlue {
	background-color:#59CBE8 !important;
}

a, a:active, a:hover { text-decoration:none; }
li {
  list-style-type:none;
  margin:0;
}
ul {
  margin:0;
  padding:0;
}

.container {
  width:100%;
  height:100%;
	padding:0;
	margin:0;
	max-width:100%;
  position:relative;
	background-color:#FFF;
}

.homePageLogo {
  width:100%;
  height:100%;
	padding:0;
	margin:0;
	background-image: url('/layout/img/LAPO_RGB.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 80%;
}

.navbar {
}

.navbar, .navbar * {
	font-size:1.1em;
}
