<%- include('../layout/_header', {
	pageTitle: 'Keplers Laws',
	pageDescription: ''
}); %>
		<div class="reveal">
			<div class="slides">


  		<section class="has-dark-background" data-background-color="#000000">
    		<h1>Kepler's Laws of Planetary Motion</h1>
  		</section>

			<section data-background-color="#9b442c">
                        <h2>Three scientific planetary laws</h2>
                          <ol>
                          <li class="">The orbit of a planet is an ellipse with the Sun at one of the two foci.</li>
                          <li class="">A line segment joining a planet and the Sun sweeps out equal areas during equal intervals of time.</li>
                          <li class="">The square of the orbital period of a planet is proportional to the cube of the semi-major axis of its orbit.</li>
                         </ol>
                        </section>

			<section data-background-color="#9b442c">
			  <section>
                        <h2>Improvement on Copernicus's model</h2>
			  <ul>
                          <li class="">Copernicus had hypothesized that all orbits were circular.</li>
                          <li class="">Kepler, using Tycho Brahe's very accurate observations of the planets, determined Copernicus's model was inaccurate.</li>
                          <li class="">Newton improved again on Kepler's laws, by introducing the mass of the Sun and the planets as a factor in calculations.</li>
                         </ul>
			  </section>
			</section>

			<section data-background-color="#9b442c">
			  <section>
			  <h3>Orbits of Earth satellites can be described with six orbital elements:</h3>
			  <ul>
				<li class="">Semi-major axis (a) - The size of the orbit</li>
				<li class="">Eccentricity (e) The shape of the orbit</li>
				<li class="">Inclination (i) - The orientation of the orbit with respect to the Earth's equator</li>
                         </ul>
			  </section>
			</section>

			<section data-background-color="#9b442c">
			  <section>
			  <h3>Six orbital elements, continued:</h3>
			  <ul>
				<li class="">Argument of Perigee (ω) - Where the low point, perigee, of the orbit is with respect to the Earth's surface</li>
				<li class="">Right Ascension of the Ascending Node (Ω) - The location of the ascending and descending orbit locations with respect to the Earth's equatorial plane</li>
				<li class="">True/Mean Anomaly (ν) - Where the satellite is within the orbit with respect to perigee</li>
                         </ul>
			  </section>
			</section>
			</div>
		</div>

		<%- include('../layout/_footer'); %>
