<%- include('../layout/_header', {
	pageTitle: 'Jupiter',
	pageDescription: ''
}); %>
		<div class="reveal">
			<div class="slides">

        <section class="has-dark-background" data-background-color="#000000">
          <h1>Jupiter</h1>
        </section>

				<section data-background-color="#9b442c"> <!-- Fast Facts Page 1 -->
          <h2>Did You Know</h2>
          <ul>
            <li class="">Fact 1</li>
            <li class="">Fact 2</li>
          </ul>
        </section>

			</div>
		</div>

		<%- include('../layout/_footer'); %>
