body, html {
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:arial;
}

a, a:active, a:hover { text-decoration:none; }
li {
  list-style-type:none;
  margin:0;
}
ul {
  margin:0;
  padding:0;
}

.container {
  width:100%;
  height:100%;
  position:relative;
  background-image: url('../img/LAPO_RGB.png');
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  position:absolute;
  top:0;
  width:100%;
  z-index:10000;
}

.nav ul {
  max-width:150px;
}

.nav li {
  background-color:#FFF;
  text-align:center;
  padding:3px 5px;
  border:4px solid #461E3D;
  border-bottom:none;
  font-size:18px;
  font-weight:800;
  display:inline-block;
  width:100px;
}

.nav li:last-child {
  border-bottom:4px solid #461E3D;
}

.nav li a {
  display:block;
  color:#E03C31;
  width:100%;
  height:100%;
}
