<%- include('layout/_header', {
	pageTitle: 'Lake Afton Interactive Exhibits',
	pageDescription: ''
}); %>
		<style>
			.container {
				background-color: #FFF !important;
			}
		</style>
<div class="reveal">
	<div class="slides">

		<section class="has-light-background homePageLogo" data-background-image="/img/LAPO_RGB.png"></section>

	</div>
</div>
<%- include('layout/_footer'); %>
